<section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20" data-aos="fade-up">
      <setapp-custom-banner
        iconUrl="https://store.setapp.com/app/541/6210/icon-1655480536-62aca0d869d85.png"
        appName="WallCal"
        appId="541"
        vendorId="355"
      ></setapp-custom-banner>
      <script is:inline type="text/javascript" src="https://developer.setapp.com/setapp-banner/index.js" async></script>
    </div>
  </div>
</section>
